.clearfix
{
    clear:both;
}
.container 
{
    width: 1170px;
    margin: 0px auto;
}
body
{
    height: 8000px;
}
header 
{
    background-color: goldenrod;
}
nav img 
{
    float: left;
}
nav ul 
{
list-style: none;
    float: left;
}
nav ul li
{
    float: left; 
    padding: 5px 8px;
}
nav ul li a
{
    color: grey;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
nav ul li a:hover
{
    color: red;
    transition: 0.2s;
}
nav button 
{
    border: 1px solid black;
    background: white;
    border-radius: 12px;
    float: right;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
}
nav button:hover
{
    background-color: teal;
    color: aqua;
}
#banner
{
    background-image: url(../img/download.jfif);
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
}
#info
{
    position: absolute;
    margin: 25px;
}